* {
  font-family: 'Albert Sans', sans-serif;
  margin: 0;
}

.dirt-pic {
  position: fixed;
  right: 14%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  transform: rotateY(180deg);
}

.masthead-wrap {
  position: absolute;
  bottom: 140px;
  left: 85px;
}

.masthead {
  font-size: 16vw ;
  line-height: 0.8em;
  letter-spacing: -0.6rem;
  color: rgb(255, 255, 255);
}

.subhead {
  font-family: 'Albert Sans', sans-serif;
  font-weight: 500; 
  font-size: 1.6vw ;
  letter-spacing: 0.04rem;
  color: rgb(255, 255, 255);
  margin-top: 30px;
  padding-left: 15px;
}

.nav-block {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  padding-top: 100px;
  right: 0;
  height: 100%;
  width: 14%;
  background-color: rgb(104, 8, 21);
}

.nav-ul {
  color: white;
  font-weight: 400;
  padding-left: 17%;
  font-size: 1.45em;
  line-height: 2.6em;
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(255, 201, 83);
}

.home-button {
  font-size: 0.75em;
  color: white;
  border: none;
  border-radius: 8px;
  width: 90px;
  height: 50px;
  background-color: rgb(69, 16, 16);
  position: fixed;
  bottom: 12%;
  cursor: pointer;
}



/* create new trail form */

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 100px;
  width: 74%;
}

.fullview-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px;
  width: 74%;
}

.create-trail {
  text-align: center;
  background-color: #f4f4f4;
  box-shadow: 2px 2px 5px #999;
  padding: 40px;
  margin: 12px;
  width: 500px;
  height: 720px;
  list-style: none;
}

.create-trail h2 {
  font-size: 2em;
  margin-bottom: 60px;
  margin-top: 15px;
}

.create-trail input, .create-trail textarea, .create-trail select {
  font-size: 1em;
  width: 100%;
  padding: 12px 15px;
  margin: 24px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create-trail :placeholder-shown {
  color: #ddd;
  font-style: italic;
  font-size: 1em;
}

.create-trail button {
  font-size: 1.1em;
  background: rgb(104, 8, 21);
  color: white;
  margin-top: 70px;
  margin-bottom: 15px;
  border: 2px solid #ddd;
  border: 0;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
}

/* DISPLAY TRAILS */

.preview-trail {
  display: inline-block;
  background-color: #f4f4f4;
  box-shadow: 2px 2px 5px #999;
  padding: 22px;
  margin: 12px;
  width: 140px;
  height: 200px;
  list-style: none;
}

.preview-trail img {
  align-items: center;
  font-size: 0.8em;
  margin-bottom: 35px;
  height: 42px;
  width: auto
}

.preview-trail hr {
  margin-bottom: 16px;
  border: none;
  height: 1.1px;
  background-color: black;
}

.preview-trail h4 {
  font-size: 0.97em;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: black;
  width: 100%;
}
.preview-trail h5 {
  font-size: 0.97em;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: black;
  width: 100%;
  padding: 8px 0 0 ;
}

.new-trail-button {
  font-size: 1.1em;
  color: #999;
  width: 184px;
  height: 245px;
  margin: 12px;
  border: 0;
}

.plus {
  margin-top: -20px;
  font-size: 6em;
  font-weight: 400;
  color: #999;
}

/* FULL TRAIL VIEW */

.full-trail {
  text-align: left;
  background-color: #f4f4f4;
  box-shadow: 2px 2px 5px #999;
  padding: 60px;
  margin: 12px;
  width: 460px;
  height: 680px;
  list-style: none;
  overflow: hidden; << fix
}

.full-trail h2 {
  font-size: 2em;
  margin-bottom: 10px;
  margin-top: 60px;
}

.full-trail h3 {
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 30px;
}

.full-trail h5 {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 6px;
}

.full-trail p {
  font-size: 1em;
  line-height: 160%;
  font-weight: 300;
  margin-bottom: 25px;
}

.full-trail hr {
  margin-top: 40px;
  margin-bottom: 30px;
  border: none;
  height: 1.1px;
  background-color: black;
}

.full-trail button {
  margin: 40px 0 0 0;
  border: 0;
  cursor: pointer;
  padding: 0;
}

.full-trail img {
  width: 80px;
  height: auto
}