* {
  font-family: 'Albert Sans', sans-serif;
  margin: 0;
}

.dirt-pic {
  position: fixed;
  right: 13%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.masthead-wrap {
  position: absolute;
  bottom: 125px;
  left: 80px;
  /* margin-left: 15px; */
}

.masthead {
  font-size: 15vw ;
  line-height: 0.8em;
  letter-spacing: -0.7rem;
  color: rgb(255, 255, 255);
}

.subhead {
  font-family: 'Albert Sans', sans-serif;
  font-weight: 500; 
  font-size: 1.5vw ;
  letter-spacing: 0rem;
  color: rgb(255, 255, 255);
  margin-top: 30px;
  padding-left: 15px;
}

.nav-block {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  padding-top: 100px;
  right: 0;
  height: 100%;
  width: 13%;
  background-color: rgb(104, 8, 21);
}

.nav-ul {
  color: white;
  font-weight: 400;
  padding-left: 17%;
  font-size: 1.45em;
  line-height: 2.6em;
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(255, 201, 83);
}

.home-button {
  font-size: 0.75em;
  color: white;
  border: none;
  border-radius: 8px;
  width: 90px;
  height: 50px;
  background-color: rgb(69, 16, 16);
  position: fixed;
  bottom: 12%;
  cursor: pointer;
}

.trail-card {
  background-color: #f4f4f4;
  box-shadow: 2px 2px 5px #999;
  padding: 12px;
  margin: 12px;
  width: 160px;
  height: 220px;
  list-style: none;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
  margin: 100px;
  width: 74%;
}

/* create new trail form */

.trail-card label {
  font-size: 0.9em;
  text-align: left;
  display: block;
}
.trail-card img {
  align-items: center;
  font-size: 0.8em;
  margin-bottom: 30px;
}
.trail-card input, .trail-card textarea, .trail-card select {
  font-size: 0.7em;
  width: 100%;
  padding: 4px 8px;
  margin: auto;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.trail-card :placeholder-shown {
  color: #ddd;
  font-style: italic;
  font-size: 0.65em;
}

.trail-card button {
  font-size: 0.55em;
  background: rgb(104, 8, 21);
  color: white;
  align-items: center;
  margin-top: 12px;
  border: 1px solid #ddd;
  border: 0;
  padding: 4px 8px;
  /* border-radius: 4px; */
  cursor: pointer;
}