* {
  font-family: 'Albert Sans', sans-serif;
  margin: 0;
}

.dirt-pic {
  position: fixed;
  right: 14%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  transform: rotateY(180deg);
}

.masthead-wrap {
  position: absolute;
  bottom: 140px;
  left: 85px;
  /* margin-left: 15px; */
}

.masthead {
  font-size: 15vw ;
  line-height: 0.8em;
  letter-spacing: -0.7rem;
  color: rgb(255, 255, 255);
}

.subhead {
  font-family: 'Albert Sans', sans-serif;
  font-weight: 500; 
  font-size: 1.5vw ;
  letter-spacing: 0rem;
  color: rgb(255, 255, 255);
  margin-top: 30px;
  padding-left: 15px;
}

.nav-block {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  padding-top: 100px;
  right: 0;
  height: 100%;
  width: 14%;
  background-color: rgb(104, 8, 21);
}

.nav-ul {
  color: white;
  font-weight: 400;
  padding-left: 17%;
  font-size: 1.45em;
  line-height: 2.6em;
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(255, 201, 83);
}

.home-button {
  font-size: 0.75em;
  color: white;
  border: none;
  border-radius: 8px;
  width: 90px;
  height: 50px;
  background-color: rgb(69, 16, 16);
  position: fixed;
  bottom: 12%;
  cursor: pointer;
}

/* create new trail form */

.create-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px;
  width: 74%;
}

.create-trail {
  text-align: center;
  background-color: #f4f4f4;
  box-shadow: 2px 2px 5px #999;
  padding: 20px;
  margin: 12px;
  width: 500px;
  height: 740px;
  list-style: none;
}

.create-trail img {
  align-items: center;
  font-size: 1.4em;
  margin-bottom: 60px;
}

.create-trail input, .create-trail textarea, .create-trail select {
  font-size: 1em;
  width: 100%;
  padding: 10px 12px;
  margin: 24px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create-trail :placeholder-shown {
  color: #ddd;
  font-style: italic;
  font-size: 1em;
}

.create-trail button {
  font-size: 1.1em;
  background: rgb(104, 8, 21);
  color: white;
  margin-top: 60px;
  margin-bottom: 15px;
  border: 2px solid #ddd;
  border: 0;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

/* DISPLAY TRAILS */

.display-trail {
  background-color: #f4f4f4;
  box-shadow: 2px 2px 5px #999;
  padding: 12px;
  margin: 12px;
  width: 160px;
  height: 220px;
  list-style: none;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
  margin: 100px;
  width: 74%;
}

.display-trail img {
  align-items: center;
  font-size: 0.8em;
  margin-bottom: 30px;
}

.display-trail h4 {
  font-size: 1em;
  font-weight: 500;
  color: black;
  width: 100%;
  padding: 6px 0 0 8px;
}

.new-trail-button {
  font-size: 1.1em;
  color: #999;
  width: 184px;
  height: 245px;
  margin: 12px;
  /* padding: 12px; */
  border: 0;
}

.plus {
  margin-top: -20px;
  font-size: 6em;
  font-weight: 400;
  color: #999;
}

/* FULL TRAIL VIEW */

.full-view-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px;
  width: 74%;
}

.full-view-trail {
  text-align: center;
  background-color: #f4f4f4;
  box-shadow: 2px 2px 5px #999;
  padding: 20px;
  margin: 12px;
  width: 500px;
  height: 740px;
  list-style: none;
}